a.blog-representative__image--container {
  margin-top: 40px;
  .blog-representative__image {
    height: 335px;
    max-width: 445px;
  }
}

div.images-flex__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  padding: 0 20px 0 20px;
  div.paragraphs__container {
    max-width: 380px;
    p.paragraph {
      text-align: center;
    }
    a.read-more {
      font-size: 1.6rem;
      margin-top: 15px;
      margin-left: calc(100% - 61px);
    } 
  }
}