main.contact {
  height: calc(100vh - 80px);
}

div.contact-icons__container--contact-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 100px;
  margin: 0 auto;
  div.icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    transition: all 400ms;
    cursor: pointer;
  }
  div.icon:hover {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

div.dumbel {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}