main.index {
  h2.faq {
    margin-top: 40px;
    font-size: 2.2rem;
  }
}

div.chat-circle {
  display: table;
  margin: 0 auto;
  margin-bottom: 30px;
}

div.questions-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  input {
    display: none;
  }
  label.question-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    border: 1px solid $color_footer;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    flex-wrap: wrap;
    cursor: pointer;
    p.question-visible {
      color: $color_footer;
      font-family: $fuente_texto;
      font-weight: 400;
      font-size: 1.3rem;
      margin-left: 10px;
      width: inherit;
      max-width: inherit;
      height: fit-content;
      transition: all 300ms ease-in-out;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 10px 0;
      svg {
        margin-right: 20px;
        cursor: pointer;
        transform-origin: center;
        transition: all 300ms ease-in-out;
      }
    }
    p.question {
      margin-top: 20px;
      padding: 0 10px 10px 10px;
      text-align: justify;
      font-family: $fuente_texto;
      font-weight: 400;
      display: none;
    }
    hr.question-separator {
      display: none;
    }
  }
  input:checked + label.question-box {
    height: 150px;
    align-items: flex-start;
  }
  input:checked + label.question-box p.question {
    display: block;
  }
  input:checked + label.question-box hr.question-separator {
    width: 100%;
    height: 0.5px;
    background-color: $color_footer;
    margin: 0 auto;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    background-color: $color_footer;
    max-width: 280px;
  }
  input:checked + label.question-box p svg {
    transform: rotate(90deg);
  }
}

body.darkmode {
  main.index {
    svg {
      path.circle-chat-path {
        stroke: white;
      }
    }
  }
  div.questions-container {
    label.question-box {
      border-color: white;
      p.question, p.question-visible {
        color: white;
      }
      hr.question-separator {
        border-color: white;
        background-color: white;
      }
    }
  }
}