footer {
		width: 100%;
		min-width: 320px;
		height: auto;
		background-color: $color_footer;
		color: #b4b4b4;
		text-align: center;
		position: absolute;	bottom: 0;
		.contact {
				display: inline-block;
				font-size: 1.2rem;
				font-family: $fuente_texto;
				margin-top: 20px;
		}
		div.footer-icons__container {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				min-width: 320px;
				height: 60px;
				background-color: $color_footer;
				a {
					display: inline-block;
					width: auto;
					height: auto;
					padding: 10px;
					margin-bottom: 10px;
					span.icon {
						display: inline-block;
						width: 22px;
						height: 22px;
					}
					span.instagram {
						background-image: url("./icons/instagram.svg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}
					span.mail {
						background-image: url("./icons/mail.svg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}
					span.whatsapp {
						background-image: url("./icons/whatsapp.svg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
		}
}