footer {
  position: absolute;
  bottom: 0;
  .contact {
    font-size: 1.7rem;
    margin-bottom: 5px;
  }
  div.footer-icons__container {
    justify-content: space-evenly;
    a {
      span.icon {
        width: 27px;
        height: 27px;
      }
    }
  }
}