footer {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 320px;
	height: 90px;
	background-color: $color_footer;
	color: #b4b4b4;
	text-align: center;
	.contact {
			display: inline-block;
			font-size: 1.2rem;
			font-family: $fuente_texto;
	}
	div.footer-icons__container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40%;
			min-width: 320px;
			max-width: 500px;
			background-color: $color_footer;
			a {
				display: inline-block;
				width: auto;
				height: auto;
				padding: 10px 15px 10px 15px;
				cursor: pointer;
				span.icon {
					display: inline-block;
					width: 40px;
					height: 30px;
					transition: all 300ms;
				}
				span.icon:hover {
					opacity: 0.5;
					transform: scale(1.6);
				}
				span.instagram {
					background-image: url("./componentes/icons/instagram-icon.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
				}
				span.mail {
					background-image: url("./componentes/icons/mail-icon.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
				}
				span.whatsapp {
					background-image: url("./componentes/icons/whatsapp-icon.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
	}
}