footer {
  .contact {
    font-size: 1.7rem;
  }
  div.footer-icons__container {
    justify-content: space-around;
    a {
      span.icon {
        width: 27px;
        height: 27px;
      }
    }
  }
}