* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    position: relative;
}

// h2 {
//     text-shadow: 2px 2px 1px rgb(16 16 16 / 60%);
// }
