header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 80px;
    background-color: $color_header;
    .menu-container {
        display: flex;
        margin-left: 15px;
        width: fit-content;
        height: fit-content;
        transform: translateX(-40px);
    }
    .logo-container {
        display: flex;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        transform: translateX(-29px);
    }
}