header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 80px;
    background-color: $color_header;
    .menu-container {
        position: absolute;
        left: 0;
        margin-left: 5px;
        width: fit-content;
        margin-bottom: 5px;
        height: fit-content;
    }
    .logo-container {
        position: absolute;
        right: 0;
        margin-right: calc(50% - 110px);
        width: fit-content;
        height: fit-content;
        svg {
          cursor: pointer;
        }
    }
}