header {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 80px;
    background-color: $color_header;
    .menu-container {
        display: flex;
        margin-left: 15px;
        width: fit-content;
        height: fit-content;
    }
    .logo-container {
        display: flex;
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
    }
}