body {
  .dark-mode__container {
    display: flex;
    width: auto;
    height: auto;
    position: absolute;
    top: calc(50px - 15px);
    right: 100px;
    span {
      display: flex;
      align-items: center;
      margin-right: 10px;
      font-size: 13px;
      font-weight: 300;
      color: white;
    }
    object.sun {
      margin-right: 13px;
    }
    object.moon {
      margin-left: 13px;
    }
    div.dark-mode-button__container--class {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-evenly;
      background-color: #fdfdfc;
      width: 80px;
      height: 30px;
      border: 2px solid $color_footer;
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer;
      div.circle {
        position: absolute;
        left: 0.5px;
        width: 25px;
        height: 24px;
        border-radius: 50%;
        background-color: $color_footer;
        box-shadow: 0px 0px 5px 0px $color_footer;
        transition: all 400ms;
      }
    }
  }
}

main.index {
  div.special-h1__container {
    width: auto;
    margin-top: 40px;
    h1 {
      font-size: 3.7rem;
    }
  }
  h2 {
    font-size: 1.8rem;
  }
  div.paragraphs__container {
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    ul {
      font-size: 1.6rem;
    }
    p.paragraph {
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-align: justify;
    }
    p.especial {
      text-align: center;
    }
  }
  button.home-button {
    width: 235px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 400ms;
    a.button-text {
      position: absolute;
      left: calc(50% - 40px);
      z-index: 2;
    }
    a.leer-ahora {
      left: calc(50% - 43px);
    }
    a.ir-ahora {
      left: calc(50% - 34px);
    }
    div.right-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 15px;
      opacity: 0;
      position: absolute;
      left: -40px;
      z-index: 2;
    }
  }
  // button.home-button::before {
  //   position: absolute;
  //   content: "";
  //   display: inline-block;
  //   width: 1px;
  //   height: 1px;
  //   background-color: $color_header;
  //   z-index: 1;
  //   border-radius: 50%;
  //   overflow: hidden;
  //   transition: all 300ms;
  // }
  // button.home-button:hover::before {
  //   transform-origin: center;
  //   transform: scale(250);
  // }
  button.home-button:hover {
    background-color: $color_header;
  }
  button.home-button:hover a.button-text {
    color: white;
    left: 10px;
  }
  button.home-button:hover div.right-arrow {
    opacity: 1;
    left: calc(100% - 40px);
  }
}

body.darkmode {
  .dark-mode__container {
    div.dark-mode-button__container--class {
      div.circle {
      left: calc(100% - 24.5px);
      background-color: white;
      }
    }
  }
  button.home-button::before {
    background-color: white;
  }
  button.home-button:hover {
    background-color: white;
  }
  button.home-button:hover a.button-text {
    color: $color_header;
  }
}