body.home-body {
	margin-bottom: 90px;
}

main {
	width: 100%;
	min-width: 320px;
	height: 100%;
	section.main-blog-images-container {
		width: 100%;
		min-width: 320px;
		height: auto;
		padding: 0px 10px 20px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color_body;
		a {
			width: auto;
			height: auto;
			text-decoration: none;
			div.blog-image__container {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 280px;
				height: 150px;
				min-width: 266px;
				min-height: 143px;
				margin-top: 20px;
				text-align: center;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				box-shadow:  0px 8px 20px 0px rgba(153,153,153,0.7);
				line-height: 2.1rem;
				text-shadow: 2px 2px 5px 4px rgba(16, 16 ,16, 0.16);
				cursor: pointer;
				h2 {
					font-family: $fuente_titulos;
					font-size: 2.4rem;
					font-weight: 300;
					color: white;
				}
			}
			div.suplementos {
				background-image: url("");
			}
			div.accesorios {
				background-image: url("");
			}
			div.entreno-casa {
				background-image: url("");
			}
			div.alimentacion {
				background-image: url("");
			}
		}
	}
}