body::-webkit-scrollbar {
  width: 10px;
	background-color: $color_footer;
}

body::-webkit-scrollbar-thumb {
  background-color: $color_header;
	border-radius: 5px;
}

body {
	background-color: #26a3e7;
	main {
		padding: 60px 0 60px 0;
		background-color: white;
		transition: all 400ms;
	}
	.dark-mode__container {
		display: none;
	}
}

main.index {
width: 100%;
min-width: 320px;
height: 100%;
div.special-h1__container {
	width: 200px;
	margin: 0 auto;
}
h1 {
	font-family: $fuente_titulos;
	font-size: 3rem;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
}
h2 {
	font-family: $fuente_texto;
	font-weight: 400;
	font-size: 1.6rem;
	text-align: center;
	margin-top: 20px;
	font-weight: 500;
}
h2.h2-especial {
	margin-top: 60px;
}
div.home-icon__container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 30px;
	width: 68px;
	height: 68px;
	svg.icon {
		width: 200px;
		transition: fill 400ms;
	}
}
div.paragraphs__container {
	width: 100%;
	height: fit-content;
	max-width: 300px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	p.paragraph {
		font-family: $fuente_texto;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 1.523rem;
		text-align: center;
	}
	p.parrafo-especial {
		margin-bottom: 0;
	}
	ul {
		margin: 0 auto;
		margin-top: 20px;
		font-family: $fuente_texto;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 1.523rem;
		text-align: center;
		list-style: none;
		li {
			display: block;
			margin-top: 5px;
		}
		li::before {
			content: "";
			display: inline-block;
			width: 4px;
			height: 4px;
			background-color: $color_footer;
			border-radius: 50%;
			margin: 0 8px 2px 0;
			transition: all 400ms;
		} 
	}
}
button.home-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 35px;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 90px;
	border: 1.5px solid $color_header;
	border-radius: 15px;
	background: white;
	a.button-text {
		color: $color_header;
		font-family: $fuente_texto;
		font-weight: 500;
		font-size: 1.5rem;
		text-decoration: none;
		text-align: center;
		transition: all 400ms;
	}
	div.right-arrow {
		display: none;
		transition: all 350ms;
	}
}
}

body.darkmode {
  color: white;
	main {
		background-color: $color_footer;
	}
	main.index {
		div.paragraphs__container {
			ul {
				li::before {
					background-color: white;
				} 
			}
		}
	}
  svg.icon {
    fill: white;
  }
  svg path.right-arrow--path {
    fill: $color_header;
  }
	svg path.icon--path {
		fill: white;
	}
  button.home-button {
    background-color: $color_header;
    a.button-text {
      color: white;
    }
  }
  button.home-button::before {
    background-color: white;
  }
  .dark-mode__container {
    div#dark-mode-button__container {
      div.circle {
      left: calc(100% - 24.5px);
      background-color: white;
      }
    }
  }
  footer {
    background-color: $color_header;
    color: white;
    div.footer-icons__container {
      background-color: $color_header;
    }
    span.icon svg {
      fill: white;
    }
  }
	section.blog-info {
		color: white;
		div.titulo-blog {
			span.titulo-negro {
				color: white;
			}
		}
	}
	section.blog__info--title {
		article.blog__info--body {
			p {
				color: white;
			}
			h4 {
				color: white;
			}
			ul.benefits-list {
				color: white;
			}
			div.recommended-button__container {
				a.recommended-button {
					color: white;
					background-color: $color_header;
				}
				a.recommended-button:hover {
					color: $color_header;
					background-color: white;
				}
			}
		}
	}
	hr.section-separator {
		border-bottom: 1px solid rgba($color: $color_header, $alpha: 0.3);
	}
}