$fuente_titulos: 'Bebas Neue', cursive;
$fuente_texto: 'Roboto', sans-serif;
$tamaño_slogan: 1.4rem;
$tamaño_texto: 1.2rem;
$color_header: #49b7f2;
$color_body: rgb(255, 255, 255);
$color_footer: #363636;