* {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin: 0;
		padding: 0;
}

html {
		font-family: "Roboto", sans-serif;
		font-size: 62.5%;
		position: relative;
}

header {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		min-width: 320px;
		height: 80px;
		background-color: #49b7f2;
}
header .menu-container {
		position: absolute;
		left: 0;
		margin-left: 5px;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-bottom: 5px;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
}
header .logo-container {
		position: absolute;
		right: 0;
		margin-right: calc(50% - 110px);
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
}
header .logo-container svg {
		cursor: pointer;
}

ul.nav-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 0;
		height: auto;
		position: absolute;
		text-align: center;
		background-color: rgba(73, 183, 242, 0.8);
		left: 0;
		top: 80px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		border-radius: 0 0 20px 0;
}
ul.nav-menu .last-child {
		margin-bottom: 50px;
		display: none;
		width: auto;
		height: auto;
}
ul.nav-menu .last-child span {
		display: none;
}
ul.nav-menu .last-child object.sun {
		margin-right: 13px;
}
ul.nav-menu .last-child object.moon {
		margin-left: 13px;
}
ul.nav-menu .last-child div#dark-mode-button__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		background-color: #fdfdfc;
		width: 80px;
		height: 30px;
		border: 2px solid #363636;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;
}
ul.nav-menu .last-child div#dark-mode-button__container div.circle {
		position: absolute;
		left: 0.5px;
		width: 25px;
		height: 24px;
		border-radius: 50%;
		background-color: #363636;
		-webkit-box-shadow: 0px 0px 5px 0px #363636;
		        box-shadow: 0px 0px 5px 0px #363636;
}

li {
		display: none;
		margin-top: 50px;
}
li a {
		text-decoration: none;
		color: white;
		font-size: 2rem;
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#363636));
		background: linear-gradient(#363636, #363636);
		background-size: 0% 4px;
		background-position: 50% 100%;
		background-repeat: no-repeat;
}
li a:hover {
		color: #363636;
		background-size: 100% 3px;
}

div.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 35px;
		height: 30px;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		cursor: pointer;
		-webkit-transition: opacity 300ms;
		transition: opacity 300ms;
}

div.menu:hover {
		opacity: 0.8;
}

div.line {
		display: block;
		width: 33px;
		height: 4px;
		border-radius: 1px;
		background-color: #363636;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}

#check {
		display: none;
}

#check:checked ~ .menu-container div.menu div.medio {
		opacity: 0;
}

#check:checked ~ .menu-container div.menu div.arriba {
		-webkit-transform: rotateZ(45deg) translate(10px, -3px);
		        transform: rotateZ(45deg) translate(10px, -3px);
}

#check:checked ~ .menu-container div.menu div.abajo {
		-webkit-transform: rotateZ(-45deg) translate(15px, -2px);
		        transform: rotateZ(-45deg) translate(15px, -2px);
}

#check:checked ~ .nav-menu {
		width: 80%;
}

#check:checked ~ .nav-menu li {
		display: block;
}

body::-webkit-scrollbar {
		width: 10px;
		background-color: #363636;
}

body::-webkit-scrollbar-thumb {
		background-color: #49b7f2;
		border-radius: 5px;
}

body {
		-webkit-transition: all 300ms;
		transition: all 300ms;
		background-color: #49b7f2;
}
body main {
		padding: 60px 0 60px 0;
		background-color: white;
		-webkit-transition: all 300ms;
		transition: all 300ms;
}
body .dark-mode__container {
		display: none;
}

main.index {
		width: 100%;
		min-width: 320px;
		height: 100%;
}
main.index h1 {
		font-family: "Bebas Neue", cursive;
		font-size: 3rem;
		font-weight: 400;
		line-height: 25px;
		text-align: center;
}
main.index h2 {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.6rem;
		text-align: center;
		margin-top: 20px;
		font-weight: 500;
}
main.index h2.h2-especial {
		margin-top: 60px;
}
main.index div.home-icon__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 0 auto;
		margin-top: 30px;
		width: 68px;
		height: 68px;
}
main.index div.paragraphs__container {
		width: 100%;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		max-width: 300px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
}
main.index div.paragraphs__container p.paragraph {
		font-family: "Roboto", sans-serif;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 1.523rem;
		text-align: center;
}
main.index div.paragraphs__container p.parrafo-especial {
		margin-bottom: 0;
}
main.index div.paragraphs__container ul {
		margin: 0 auto;
		margin-top: 20px;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 1.523rem;
		text-align: center;
		list-style: none;
}
main.index div.paragraphs__container ul li::before {
		content: "";
		display: inline-block;
		width: 4px;
		height: 4px;
		background-color: #363636;
		border-radius: 50%;
		margin: 0 8px 2px 0;
}
main.index button.home-button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 220px;
		height: 35px;
		margin: 0 auto;
		margin-top: 90px;
		margin-bottom: 90px;
		border: 1.5px solid #49b7f2;
		border-radius: 15px;
		-webkit-transition: all 300ms;
		transition: all 300ms;
		background: white;
}
main.index button.home-button a.button-text {
		color: #49b7f2;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 1.5rem;
		text-decoration: none;
		text-align: center;
}
main.index button.home-button div.right-arrow {
		display: none;
}

body.darkmode {
		color: white;
}
body.darkmode main {
		-webkit-transition: all 300ms;
		transition: all 300ms;
		background-color: #363636;
}
body.darkmode svg.icon {
		fill: white;
}
body.darkmode svg path.right-arrow--path {
		fill: #49b7f2;
}
body.darkmode button.home-button {
		background-color: #49b7f2;
}
body.darkmode button.home-button a.button-text {
		color: white;
}
body.darkmode button.home-button::before {
		background-color: white;
}
body.darkmode .dark-mode__container div#dark-mode-button__container div.circle {
		left: calc(100% - 24.5px);
		background-color: white;
}
body.darkmode footer {
		background-color: #49b7f2;
		color: white;
}
body.darkmode footer div.footer-icons__container {
		background-color: #49b7f2;
}
body.darkmode footer span.icon svg {
		fill: white;
}
body.darkmode section.blog-info {
		color: white;
}
body.darkmode section.blog-info div.titulo-blog span.titulo-negro {
		color: white;
}
body.darkmode section.blog__info--title article.blog__info--body p {
		color: white;
}
body.darkmode section.blog__info--title article.blog__info--body h4 {
		color: white;
}
body.darkmode section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button {
		color: white;
		background-color: #49b7f2;
}
body.darkmode section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button:hover {
		color: #49b7f2;
		background-color: white;
}

main.blog__main {
		width: 100%;
		min-width: 320px;
		height: 100%;
}

main section.blog-info {
		width: 100%;
		height: 100%;
		min-width: 320px;
		max-width: 500px;
		padding: 30px 18px 30px 18px;
		margin: 0 auto;
		text-align: justify;
		font-family: "Roboto", sans-serif;
		font-size: 1.2rem;
		color: #363636;
}
main section.blog-info div.titulo-blog {
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
}
main section.blog-info div.titulo-blog span.titulo-azul {
		font-size: 3rem;
		color: #49b7f2;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
		line-height: 2.8rem;
		text-shadow: none;
		padding-right: 5px;
}
main section.blog-info div.titulo-blog span.titulo-negro {
		font-size: 3rem;
		color: #363636;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
		line-height: 2.8rem;
		text-shadow: none;
}
main section.blog-info p {
		line-height: 1.8rem;
}

div.blog__image__container {
		width: 100%;
		max-width: 400px;
		min-width: 320px;
		height: 25%;
		min-height: 180px;
		max-height: 400px;
		margin: 0 auto;
		padding-bottom: 20px;
}
div.blog__image__container img {
		width: 100%;
		height: 100%;
}

h3 {
		color: #49b7f2;
		font-size: 3.2rem;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
}

h3.titulo-info {
		margin-top: 20px;
}

main section.blog__info--title {
		padding: 0px 18px 30px 18px;
		color: #363636;
		text-align: justify;
		width: 100%;
		min-width: 320px;
		max-width: 500px;
		margin: 0 auto;
}
main section.blog__info--title article.blog__info--body--last {
		margin-bottom: 20px;
}
main section.blog__info--title article.blog__info--body {
		color: #363636;
		font-size: 1.2rem;
		font-family: "Roboto", sans-serif;
}
main section.blog__info--title article.blog__info--body ul.benefits-list {
		display: block;
		width: auto;
		height: auto;
		font-family: "Roboto", sans-serif;
		color: #363636;
		font-size: 1.2rem;
		margin-left: 15px;
}
main section.blog__info--title article.blog__info--body ul.benefits-list li {
		margin-top: 5px;
		display: list-item;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container {
		width: 100%;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-top: 40px;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		font-size: 1.2rem;
		font-family: "Bebas Neue", cursive;
		font-weight: 300;
		width: 140px;
		height: 25px;
		border-radius: 30px;
		border: 1.5px solid #49b7f2;
		background-color: white;
		color: #49b7f2;
		-webkit-transition: all 300ms;
		transition: all 300ms;
		text-decoration: none;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button:hover {
		color: white;
		background-color: #49b7f2;
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
}
main section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button:active {
		color: white;
		background-color: #49b7f2;
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
}
main section.blog__info--title article.blog__info--body h4 {
		font-size: 2rem;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
}
main section.blog__info--title article.blog__info--body P {
		margin-bottom: 20px;
		font-size: 1.2rem;
}

hr.section-separator {
		width: 90%;
		max-width: 500px;
		border: none;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);
		margin: 0 auto;
		margin-bottom: 5px;
}

footer {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		min-width: 320px;
		height: 90px;
		background-color: #363636;
		color: #b4b4b4;
		text-align: center;
}
footer .contact {
		display: inline-block;
		font-size: 1.2rem;
		font-family: "Roboto", sans-serif;
}
footer div.footer-icons__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 40%;
		min-width: 320px;
		max-width: 500px;
		background-color: #363636;
}
footer div.footer-icons__container a {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 10px;
		cursor: pointer;
}
footer div.footer-icons__container a span.icon {
		display: inline-block;
		width: 22px;
		height: 22px;
		-webkit-transition: all 300ms;
		transition: all 300ms;
}
footer div.footer-icons__container a span.icon:hover {
		opacity: 0.5;
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
}
footer div.footer-icons__container a span.instagram {
		background-image: url("./componentes/icons/instagram.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
}
footer div.footer-icons__container a span.mail {
		background-image: url("./componentes/icons/mail.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
}
footer div.footer-icons__container a span.whatsapp {
		background-image: url("./componentes/icons/whatsapp.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
}

main.blog__main {
		height: 100%;
		width: 100%;
}

.product__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 90%;
		min-width: 320px;
		padding: 10px;
		margin: 0 auto;
		margin-bottom: 160px;
		margin-top: 60px;
}
.product__container .product {
		width: 250px;
		height: 250px;
		min-width: 100px;
		-webkit-box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		        box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		margin-top: 40px;
		margin-bottom: 10px;
		margin-left: 25px;
		margin-right: 25px;
		border-radius: 20px;
		-webkit-transition: all 500ms;
		transition: all 500ms;
}
.product__container .product:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		opacity: 0.7;
}

a.blog-representative__image--container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		height: auto;
		margin-top: 20px;
		padding: 0 10px 0 10px;
}
a.blog-representative__image--container .blog-representative__image {
		width: 100%;
		max-width: 350px;
		height: 200px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 8px;
}

label.label--blogs-page {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}

a.blog-representative__image--container img.blog-representative__image:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		opacity: 0.8;
		-webkit-filter: grayscale(50%);
		        filter: grayscale(50%);
}

a.read-more {
		display: inline-block;
		color: #49b7f2;
		font-size: 1.4rem;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		text-decoration: none;
		margin-left: calc(100% - 55px);
		margin-top: 10px;
		background: -webkit-gradient(linear, left top, left bottom, from(#49b7f2), to(#49b7f2));
		background: linear-gradient(#49b7f2, #49b7f2);
		background-size: 0% 2px;
		background-position: 50% 100%;
		background-repeat: no-repeat;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
}

a.read-more:hover {
		color: #49b7f2;
		background-size: 100% 2px;
}

footer.footer--contact-page {
		display: none;
}

main.contact {
		height: calc(100vh - 80px);
}

div.contact-icons__container--contact-page {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		max-width: 300px;
		height: 100px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
}
div.contact-icons__container--contact-page div.icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
}
div.contact-icons__container--contact-page div.whatsapp {
		background-image: url("./componentes/icons/whatsapp.svg");
}
div.contact-icons__container--contact-page div.mail {
		background-image: url("./componentes/icons/mail.svg");
}
div.contact-icons__container--contact-page div.instagram {
		background-image: url("./componentes/icons/instagram.svg");
}

div.dumbel {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		margin-top: 80px;
		margin-bottom: 40px;
}

* {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin: 0;
		padding: 0;
}

html {
		font-family: "Roboto", sans-serif;
		font-size: 62.5%;
		position: relative;
}

.header {
		height: 100px;
}
.header .menu-container {
		margin-left: 20px;
}
.header .logo-container {
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
		margin-top: 10px;
}

a {
		font-size: 2.5rem;
}

#check:checked ~ .nav-menu {
		width: 40%;
}

ul.nav-menu {
		top: 100px;
}
ul.nav-menu li.last-child {
		display: none;
}
ul.nav-menu li.calculadora {
		margin-bottom: 50px;
}

#check:checked ~ .nav-menu li.last-child {
		display: none;
}

body {
		-webkit-transition: all 300ms;
		transition: all 300ms;
}
body .dark-mode__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		height: auto;
		position: absolute;
		top: calc(50px - 15px);
		right: 100px;
}
body .dark-mode__container span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-right: 10px;
		font-size: 13px;
		font-weight: 300;
		color: white;
}
body .dark-mode__container object.sun {
		margin-right: 13px;
}
body .dark-mode__container object.moon {
		margin-left: 13px;
}
body .dark-mode__container div.dark-mode-button__container--class {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		background-color: #fdfdfc;
		width: 80px;
		height: 30px;
		border: 2px solid #363636;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;
}
body .dark-mode__container div.dark-mode-button__container--class div.circle {
		position: absolute;
		left: 0.5px;
		width: 25px;
		height: 24px;
		border-radius: 50%;
		background-color: #363636;
		-webkit-box-shadow: 0px 0px 5px 0px #363636;
		        box-shadow: 0px 0px 5px 0px #363636;
}

main.index button.home-button {
		width: 235px;
		position: relative;
		-webkit-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
		overflow: hidden;
		cursor: pointer;
}
main.index button.home-button a.button-text {
		position: absolute;
		left: calc(50% - 40px);
		-webkit-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
		z-index: 2;
}
main.index button.home-button a.leer-ahora {
		left: calc(50% - 43px);
}
main.index button.home-button a.ir-ahora {
		left: calc(50% - 34px);
}
main.index button.home-button div.right-arrow {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 25px;
		height: 15px;
		opacity: 0;
		position: absolute;
		left: -40px;
		-webkit-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
		z-index: 2;
}
main.index button.home-button::before {
		position: absolute;
		content: "";
		display: inline-block;
		width: 1px;
		height: 1px;
		background-color: #49b7f2;
		-webkit-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
		z-index: 1;
		border-radius: 50%;
}
main.index button.home-button:hover::before {
		-webkit-transform-origin: center;
		        transform-origin: center;
		-webkit-transform: scale(250);
		        transform: scale(250);
}
main.index button.home-button:hover {
		background-color: #49b7f2;
}
main.index button.home-button:hover a.button-text {
		color: white;
		left: 10px;
}
main.index button.home-button:hover div.right-arrow {
		opacity: 1;
		left: calc(100% - 40px);
}

body.darkmode .dark-mode__container div.dark-mode-button__container--class div.circle {
		left: calc(100% - 24.5px);
		background-color: white;
}
body.darkmode button.home-button::before {
		background-color: white;
}
body.darkmode button.home-button:hover {
		background-color: white;
}
body.darkmode button.home-button:hover a.button-text {
		color: #49b7f2;
}

main section.blog-info {
		font-size: 1.5rem;
		max-width: 650px;
}
main section.blog-info p {
		line-height: 2rem;
}

div.blog__image__container {
		max-width: 610px;
		max-height: 500px;
}

main section.blog__info--title {
		max-width: 650px;
}
main section.blog__info--title article.blog__info--body {
		font-size: 1.5rem;
}
main section.blog__info--title article.blog__info--body ul.benefits-list {
		font-size: 1.5rem;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button {
		font-size: 1.3rem;
		width: 150px;
		height: 25px;
}
main section.blog__info--title article.blog__info--body h4 {
		font-size: 2.3rem;
}
main section.blog__info--title article.blog__info--body P {
		margin-bottom: 30px;
		font-size: 1.5rem;
}

hr.section-separator {
		max-width: 610px;
}

footer .contact {
		font-size: 1.7rem;
}
footer div.footer-icons__container {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
}
footer div.footer-icons__container a span.icon {
		width: 27px;
		height: 27px;
}

main.blog__main {
		height: 100%;
		width: 100%;
}

.product__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 90%;
		min-width: 320px;
		padding: 10px;
		margin: 0 auto;
		margin-bottom: 160px;
		margin-top: 60px;
}
.product__container .product {
		width: 250px;
		height: 250px;
		min-width: 100px;
		-webkit-box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		        box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		margin-top: 40px;
		margin-bottom: 10px;
		margin-left: 25px;
		margin-right: 25px;
		border-radius: 20px;
		-webkit-transition: all 500ms;
		transition: all 500ms;
}
.product__container .product:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		opacity: 0.7;
}

main.contact {
		height: calc(100vh - 100px);
}