* {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin: 0;
		padding: 0;
}

html {
		font-family: "Roboto", sans-serif;
		font-size: 62.5%;
		position: relative;
}

header {
		position: sticky;
		top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		min-width: 320px;
		height: 80px;
		background-color: #49b7f2;
		z-index: 3;
}
header .menu-container {
		position: absolute;
		left: 0;
		margin-left: 5px;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-bottom: 5px;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
}
header .logo-container {
		position: absolute;
		right: calc(50% - 110px);
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
}
header .logo-container svg {
		cursor: pointer;
}
header div.nav-menu--desktop__container {
		display: none;
}

ul.nav-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 0;
		height: auto;
		position: absolute;
		text-align: center;
		background-color: rgba(73, 183, 242, 0.8);
		left: 0;
		top: 80px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		border-radius: 0 0 20px 0;
}
ul.nav-menu .last-child {
		margin-bottom: 50px;
		display: none;
		width: auto;
		height: auto;
}
ul.nav-menu .last-child span {
		display: none;
}
ul.nav-menu .last-child object.sun {
		margin-right: 13px;
}
ul.nav-menu .last-child object.moon {
		margin-left: 13px;
}
ul.nav-menu .last-child div#dark-mode-button__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		background-color: #fdfdfc;
		width: 80px;
		height: 30px;
		border: 2px solid #363636;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;
}
ul.nav-menu .last-child div#dark-mode-button__container div.circle {
		position: absolute;
		left: 0.5px;
		width: 25px;
		height: 24px;
		border-radius: 50%;
		background-color: #363636;
		-webkit-box-shadow: 0px 0px 5px 0px #363636;
		        box-shadow: 0px 0px 5px 0px #363636;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}

li {
		display: none;
		margin-top: 50px;
}
li a {
		text-decoration: none;
		color: white;
		font-size: 2rem;
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#363636));
		background: linear-gradient(#363636, #363636);
		background-size: 0% 4px;
		background-position: 50% 100%;
		background-repeat: no-repeat;
}
li a:hover {
		color: #363636;
		background-size: 100% 3px;
}

div.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 35px;
		height: 30px;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		cursor: pointer;
		-webkit-transition: opacity 300ms;
		transition: opacity 300ms;
}

div.menu:hover {
		opacity: 0.8;
}

div.line {
		display: block;
		width: 33px;
		height: 4px;
		border-radius: 1px;
		background-color: #363636;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}

#check {
		display: none;
}

#check:checked ~ .menu-container div.menu div.medio {
		opacity: 0;
}

#check:checked ~ .menu-container div.menu div.arriba {
		-webkit-transform: rotateZ(45deg) translate(10px, -3px);
		        transform: rotateZ(45deg) translate(10px, -3px);
}

#check:checked ~ .menu-container div.menu div.abajo {
		-webkit-transform: rotateZ(-45deg) translate(15px, -2px);
		        transform: rotateZ(-45deg) translate(15px, -2px);
}

#check:checked ~ .nav-menu {
		width: 80%;
}

#check:checked ~ .nav-menu li {
		display: block;
}

body::-webkit-scrollbar {
		width: 10px;
}

body::-webkit-scrollbar-thumb {
		background-color: #49b7f2;
		border-radius: 10px;
}

body {
		background-color: #26a3e7;
}
body main {
		padding: 60px 0 60px 0;
		background-color: white;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}
body .dark-mode__container {
		display: none;
}

main.index {
		width: 100%;
		min-width: 320px;
		height: 100%;
}
main.index div.special-h1__container {
		width: 200px;
		margin: 0 auto;
}
main.index h1 {
		font-family: "Bebas Neue", cursive;
		font-size: 3rem;
		font-weight: 400;
		line-height: 25px;
		text-align: center;
}
main.index h2 {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.6rem;
		text-align: center;
		margin-top: 20px;
		font-weight: 500;
}
main.index h2.h2-especial {
		margin-top: 60px;
}
main.index div.home-icon__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 0 auto;
		margin-top: 30px;
		width: 68px;
		height: 68px;
}
main.index div.home-icon__container svg.icon {
		width: 200px;
		-webkit-transition: fill 400ms;
		transition: fill 400ms;
}
main.index div.paragraphs__container {
		width: 100%;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		max-width: 300px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
}
main.index div.paragraphs__container p.paragraph {
		font-family: "Roboto", sans-serif;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 1.523rem;
		text-align: center;
}
main.index div.paragraphs__container p.parrafo-especial {
		margin-bottom: 0;
}
main.index div.paragraphs__container ul {
		margin: 0 auto;
		margin-top: 20px;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 1.523rem;
		text-align: center;
		list-style: none;
}
main.index div.paragraphs__container ul li {
		display: block;
		margin-top: 5px;
}
main.index div.paragraphs__container ul li::before {
		content: "";
		display: inline-block;
		width: 4px;
		height: 4px;
		background-color: #363636;
		border-radius: 50%;
		margin: 0 8px 2px 0;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}
main.index button.home-button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 210px;
		height: 35px;
		margin: 0 auto;
		margin-top: 90px;
		margin-bottom: 90px;
		border: 2px solid #49b7f2;
		border-radius: 15px;
		background: white;
		z-index: 0;
}
main.index button.home-button a.button-text {
		color: #49b7f2;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 1.5rem;
		text-decoration: none;
		text-align: center;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}
main.index button.home-button div.right-arrow {
		display: none;
		-webkit-transition: all 350ms;
		transition: all 350ms;
}

body.darkmode {
		color: white;
}
body.darkmode main {
		background-color: #363636;
}
body.darkmode main.index div.paragraphs__container ul li::before {
		background-color: white;
}
body.darkmode svg.icon {
		fill: white;
}
body.darkmode svg path.right-arrow--path {
		fill: white;
}
body.darkmode svg path.icon--path {
		fill: white;
}
body.darkmode button.home-button {
		background-color: transparent;
}
body.darkmode button.home-button a.button-text {
		color: #49b7f2;
}
body.darkmode button.home-button::before {
		background-color: #49b7f2;
}
body.darkmode .dark-mode__container div#dark-mode-button__container div.circle {
		left: calc(100% - 24.5px);
		background-color: white;
}
body.darkmode footer {
		background-color: #49b7f2;
		color: white;
}
body.darkmode footer div.footer-icons__container {
		background-color: #49b7f2;
}
body.darkmode footer span.icon svg {
		fill: white;
}
body.darkmode section.blog-info {
		color: white;
}
body.darkmode section.blog-info div.titulo-blog span.titulo-negro {
		color: white;
}
body.darkmode section.blog__info--title article.blog__info--body p {
		color: white;
}
body.darkmode section.blog__info--title article.blog__info--body h4 {
		color: white;
}
body.darkmode section.blog__info--title article.blog__info--body ul.benefits-list {
		color: white;
}
body.darkmode hr.section-separator {
		border-bottom: 1px solid rgba(73, 183, 242, 0.3);
}

main.blog__main {
		width: 100%;
		min-width: 320px;
		height: 100%;
		padding-top: 20px;
}

main section.blog-info {
		width: 100%;
		height: 100%;
		min-width: 320px;
		max-width: 500px;
		padding: 0px 18px 30px 18px;
		margin: 0 auto;
		text-align: justify;
		font-family: "Roboto", sans-serif;
		font-size: 1.2rem;
		color: #363636;
		margin-top: 20px;
}
main section.blog-info div.titulo-blog {
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
}
main section.blog-info div.titulo-blog span.titulo-azul {
		font-size: 3rem;
		color: #49b7f2;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
		line-height: 2.8rem;
		text-shadow: none;
		padding-right: 5px;
}
main section.blog-info div.titulo-blog span.titulo-negro {
		font-size: 3rem;
		color: #363636;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
		line-height: 2.8rem;
		text-shadow: none;
}
main section.blog-info p {
		line-height: 1.7rem;
}

div.blog__image__container {
		width: 100%;
		max-width: 400px;
		min-width: 320px;
		height: 25%;
		min-height: 180px;
		max-height: 400px;
		margin: 0 auto;
		padding-bottom: 40px;
}
div.blog__image__container img {
		width: 100%;
		height: 100%;
}

h3 {
		color: #49b7f2;
		font-size: 3.2rem;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
}

h3.titulo-info {
		margin-top: 20px;
}

main section.blog__info--title {
		padding: 0px 18px 40px 18px;
		color: #363636;
		text-align: justify;
		width: 100%;
		min-width: 320px;
		max-width: 500px;
		margin: 0 auto;
}
main section.blog__info--title article.blog__info--body--last {
		margin-bottom: 30px;
}
main section.blog__info--title article.blog__info--body {
		color: #363636;
		font-size: 1.2rem;
		font-family: "Roboto", sans-serif;
}
main section.blog__info--title article.blog__info--body ul.benefits-list {
		display: block;
		width: auto;
		height: auto;
		font-family: "Roboto", sans-serif;
		color: #363636;
		font-size: 1.2rem;
		margin-left: 15px;
}
main section.blog__info--title article.blog__info--body ul.benefits-list li {
		margin-top: 5px;
		display: list-item;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container {
		width: 100%;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-top: 40px;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		font-size: 1.2rem;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		width: 175px;
		height: 30px;
		border-radius: 30px;
		border: 2px solid #49b7f2;
		background-color: transparent;
		color: #49b7f2;
		-webkit-transition: all 300ms;
		transition: all 300ms;
		text-decoration: none;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button:hover {
		color: white;
		background-color: #49b7f2;
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
}
main section.blog__info--title article.blog__info--body h4 {
		font-size: 2rem;
		font-family: "Bebas Neue", cursive;
		font-weight: 400;
}
main section.blog__info--title article.blog__info--body P {
		margin-bottom: 20px;
		font-size: 1.2rem;
}

hr.section-separator {
		width: 90%;
		max-width: 500px;
		border: none;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);
		margin: 0 auto;
		margin-bottom: 15px;
}

footer {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		min-width: 320px;
		height: 90px;
		background-color: #363636;
		color: #b4b4b4;
		text-align: center;
}
footer .contact {
		display: inline-block;
		font-size: 1.2rem;
		font-family: "Roboto", sans-serif;
}
footer div.footer-icons__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 40%;
		min-width: 320px;
		max-width: 500px;
		background-color: #363636;
}
footer div.footer-icons__container a {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 10px 15px 10px 15px;
		cursor: pointer;
}
footer div.footer-icons__container a span.icon {
		display: inline-block;
		width: 40px;
		height: 30px;
		-webkit-transition: all 300ms;
		transition: all 300ms;
}
footer div.footer-icons__container a span.icon:hover {
		opacity: 0.5;
		-webkit-transform: scale(1.6);
		        transform: scale(1.6);
}
footer div.footer-icons__container a span.instagram {
		background-image: url("./componentes/icons/instagram-icon.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
}
footer div.footer-icons__container a span.mail {
		background-image: url("./componentes/icons/mail-icon.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
}
footer div.footer-icons__container a span.whatsapp {
		background-image: url("./componentes/icons/whatsapp-icon.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
}

main.blog__main {
		height: 100%;
		width: 100%;
}

.product__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 90%;
		min-width: 320px;
		padding: 10px;
		margin: 0 auto;
		margin-bottom: 160px;
		margin-top: 60px;
}
.product__container .product {
		width: 250px;
		height: 250px;
		min-width: 100px;
		-webkit-box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		        box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		margin-top: 40px;
		margin-bottom: 10px;
		margin-left: 25px;
		margin-right: 25px;
		border-radius: 20px;
		-webkit-transition: all 500ms;
		transition: all 500ms;
}
.product__container .product:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		opacity: 0.7;
}

a.blog-representative__image--container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		height: auto;
		margin-top: 20px;
		padding: 0 10px 0 10px;
}
a.blog-representative__image--container .blog-representative__image {
		width: 100%;
		max-width: 350px;
		height: 200px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 8px;
}

div.blogs-page__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}

a.blog-representative__image--container img.blog-representative__image:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		opacity: 0.8;
		-webkit-filter: grayscale(50%);
		        filter: grayscale(50%);
}

a.read-more {
		display: inline-block;
		color: #49b7f2;
		font-size: 1.4rem;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		text-decoration: none;
		margin-left: calc(100% - 55px);
		margin-top: 10px;
		background: -webkit-gradient(linear, left top, left bottom, from(#49b7f2), to(#49b7f2));
		background: linear-gradient(#49b7f2, #49b7f2);
		background-size: 0% 2px;
		background-position: 50% 100%;
		background-repeat: no-repeat;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
}

a.read-more:hover {
		color: #49b7f2;
		background-size: 100% 2px;
}

main.contact {
		height: calc(100vh - 80px);
}

div.contact-icons__container--contact-page {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		max-width: 300px;
		height: 100px;
		margin: 0 auto;
}
div.contact-icons__container--contact-page div.icon {
		display: inline-block;
		width: 55px;
		height: 55px;
		-webkit-transition: all 400ms;
		transition: all 400ms;
		cursor: pointer;
}
div.contact-icons__container--contact-page div.icon:hover {
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
		opacity: 0.5;
}

div.dumbel {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		margin-bottom: 20px;
}

main.index h2.faq {
		margin-top: 40px;
		font-size: 2rem;
}

div.chat-circle {
		display: table;
		margin: 0 auto;
		margin-bottom: 30px;
}

div.questions-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
		max-width: 300px;
		height: auto;
		margin-top: 40px;
		margin-bottom: 30px;
}
div.questions-container input {
		display: none;
}
div.questions-container label.question-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 15px;
		width: 100%;
		height: 50px;
		border: 1px solid #363636;
		border-radius: 10px;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		overflow: hidden;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		cursor: pointer;
}
div.questions-container label.question-box p.question-visible {
		color: #363636;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.3rem;
		margin-left: 10px;
		width: inherit;
		max-width: inherit;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 10px 0 10px 0;
}
div.questions-container label.question-box p.question-visible svg {
		margin-right: 20px;
		cursor: pointer;
		-webkit-transform-origin: center;
		        transform-origin: center;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
}
div.questions-container label.question-box p.question {
		margin-top: 10px;
		padding: 0 10px 0 10px;
		text-align: justify;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		display: none;
}
div.questions-container input:checked + label.question-box {
		height: 150px;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
}
div.questions-container input:checked + label.question-box p.question {
		display: block;
}
div.questions-container input:checked + label.question-box p svg {
		-webkit-transform: rotate(90deg);
		        transform: rotate(90deg);
}

body.darkmode main.index svg path.circle-chat-path {
		stroke: white;
}
body.darkmode div.questions-container label.question-box {
		border-color: white;
}
body.darkmode div.questions-container label.question-box p.question, body.darkmode div.questions-container label.question-box p.question-visible {
		color: white;
}

main.main--calculator {
		padding-left: 10px;
		padding-right: 10px;
}
main.main--calculator div#alert-container {
		width: 95%;
		height: 350px;
		padding-bottom: 20px;
		background-color: #F4F4F4;
		border-radius: 20px;
		position: sticky;
		top: calc(50vh - 175px);
		margin: 0 auto;
		overflow: hidden;
		-webkit-box-shadow: 0 5px 10px 3px rgba(54, 54, 54, 0.6);
		        box-shadow: 0 5px 10px 3px rgba(54, 54, 54, 0.6);
}
main.main--calculator div#alert-container div.blue-part {
		background-color: #49b7f2;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-item-align: start;
		    align-self: flex-start;
		width: 100%;
		height: 60px;
}
main.main--calculator div#alert-container p#answer-space {
		width: 90%;
		height: auto;
		margin-top: 30px;
		margin-bottom: 10px;
		margin: 0 auto;
}
main.main--calculator div#alert-container button#continue-button {
		font-family: "Roboto", sans-serif;
		font-size: 1.4rem;
		font-weight: 400;
		width: 120px;
		height: 35px;
		border-radius: 15px;
		border: 2px solid #49b7f2;
		color: #49b7f2;
		-webkit-transition: -webkit-transform 400ms ease-in-out;
		transition: -webkit-transform 400ms ease-in-out;
		transition: transform 400ms ease-in-out;
		transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 0 auto;
}
main.main--calculator div#alert-container button#continue-button:hover {
		background-color: #49b7f2;
		color: white;
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
}
main.main--calculator div.home-icon__container {
		margin-top: 0px;
}
main.main--calculator div.titulos-principales {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-line-pack: center;
		    align-content: center;
		margin-bottom: 50px;
		margin-top: 20px;
}
main.main--calculator div.all-inputs__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
main.main--calculator div.all-inputs__container div.calculation__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
main.main--calculator div.all-inputs__container div.calculation__container label {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.3rem;
		color: #363636;
}
main.main--calculator div.all-inputs__container div.calculation__container label p.paragraph {
		color: #363636;
		margin-top: 15px;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation {
		width: 253px;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 30px;
		margin-bottom: 50px;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation p.answer-paragraph {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.3rem;
		color: #363636;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		color: #363636;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender p {
		margin-top: 25px;
		margin-bottom: 15px;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 253px;
		height: auto;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container input#hombre, main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container input#mujer {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin-top: 10px;
		margin-bottom: 15px;
		cursor: pointer;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container label.gender-label {
		font-family: "Roboto", sans-serif;
		font-size: 1.3rem;
		font-weight: 400;
		color: #363636;
		margin-right: 10px;
		margin-bottom: 5px;
		cursor: pointer;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container label.gender-label:focus {
		color: #49b7f2;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container input#hombre {
		margin-right: 35px;
		margin-left: 10px;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation button.calculate-button {
		font-size: 1.4rem;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		width: 165px;
		height: 30px;
		color: #49b7f2;
		border: solid #49b7f2 2px;
		border-radius: 20px;
		background-color: white;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		-webkit-transition: all 400ms;
		transition: all 400ms;
		outline: none;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation button.calculate-button:hover {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
		background-color: #49b7f2;
		color: white;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation input {
		font-family: "Roboto", sans-serif;
		font-size: 1.1rem;
		font-weight: 400;
		padding: 10px;
		outline: none;
		width: 250px;
		height: 35px;
		border-radius: 7px;
		margin-top: 8px;
		color: #363636;
		border: solid 2px rgba(54, 54, 54, 0.55);
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::-webkit-input-placeholder {
		color: #c6c6c6;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::-moz-placeholder {
		color: #c6c6c6;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation input:-ms-input-placeholder {
		color: #c6c6c6;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::-ms-input-placeholder {
		color: #c6c6c6;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::placeholder {
		color: #c6c6c6;
}
main.main--calculator div.all-inputs__container div.calculation__container div.calculation input:focus {
		border-color: #49b7f2;
}

body.darkmode main.main--calculator div.all-inputs__container div.calculation__container label {
		color: white;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container label p.paragraph {
		color: white;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation p.answer-paragraph {
		color: white;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender {
		color: white;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender p {
		color: white;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container label.gender-label {
		color: white;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation label.gender div.input-gender__container label.gender-label:focus {
		color: #49b7f2;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation button.calculate-button {
		background-color: transparent;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation button.calculate-button:hover {
		background-color: #49b7f2;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation input {
		color: white;
		background-color: transparent;
		border-color: white;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::-webkit-input-placeholder {
		color: #d6d6d6;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::-moz-placeholder {
		color: #d6d6d6;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation input:-ms-input-placeholder {
		color: #d6d6d6;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::-ms-input-placeholder {
		color: #d6d6d6;
}
body.darkmode main.main--calculator div.all-inputs__container div.calculation__container div.calculation input::placeholder {
		color: #d6d6d6;
}

* {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		margin: 0;
		padding: 0;
}

html {
		font-family: "Roboto", sans-serif;
		font-size: 62.5%;
		position: relative;
}

.header {
		display: block;
		height: 80px;
}
.header .logo-container {
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
		top: calc(50% - 14.5px);
}
.header div.nav-menu--desktop__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		height: 50px;
		background-color: #49b7f2;
		position: absolute;
		top: 80px;
		border-top: 0.5px solid #3996C8;
		margin-bottom: 50px;
		-webkit-box-shadow: 0 10px 10px -8px rgba(54, 54, 54, 0.5);
		        box-shadow: 0 10px 10px -8px rgba(54, 54, 54, 0.5);
}
.header div.nav-menu--desktop__container a.nav-menu--desktop__item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		color: white;
		text-decoration: none;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		padding: 0 30px 0 30px;
		border-radius: 5px;
		height: inherit;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}
.header div.nav-menu--desktop__container a.nav-menu--desktop__item:hover {
		background-color: rgba(255, 255, 255, 0.5);
}

#check:checked ~ .nav-menu li.last-child {
		display: none;
}

label.menu-container {
		display: none;
}

body .dark-mode__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		height: auto;
		position: absolute;
		top: calc(40px - 15px);
		left: 80px;
}
body .dark-mode__container span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-right: 10px;
		font-size: 13px;
		font-weight: 300;
		color: white;
}
body .dark-mode__container object.sun {
		margin-right: 13px;
}
body .dark-mode__container object.moon {
		margin-left: 13px;
}
body .dark-mode__container div.dark-mode-button__container--class {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		background-color: #fdfdfc;
		width: 80px;
		height: 30px;
		border: 2px solid #363636;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;
}
body .dark-mode__container div.dark-mode-button__container--class div.circle {
		position: absolute;
		left: 0.5px;
		width: 25px;
		height: 24px;
		border-radius: 50%;
		background-color: #363636;
		-webkit-box-shadow: 0px 0px 5px 0px #363636;
		        box-shadow: 0px 0px 5px 0px #363636;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}

main.index {
		padding-top: 150px;
}
main.index div.special-h1__container {
		width: auto;
		margin-top: 40px;
}
main.index div.special-h1__container h1 {
		font-size: 3.7rem;
}
main.index h2 {
		font-size: 1.8rem;
}
main.index div.paragraphs__container {
		max-width: 800px;
		margin-top: 50px;
		margin-bottom: 50px;
}
main.index div.paragraphs__container ul {
		font-size: 1.6rem;
}
main.index div.paragraphs__container p.paragraph {
		font-size: 1.6rem;
		line-height: 1.9rem;
		text-align: justify;
}
main.index div.paragraphs__container p.especial {
		text-align: center;
}
main.index button.home-button {
		width: 210px;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}
main.index button.home-button a.button-text {
		position: absolute;
		left: calc(50% - 40px);
		z-index: 2;
}
main.index button.home-button a.leer-ahora {
		left: calc(50% - 43px);
}
main.index button.home-button a.ir-ahora {
		left: calc(50% - 34px);
}
main.index button.home-button div.right-arrow {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 25px;
		height: 15px;
		opacity: 0;
		position: absolute;
		left: -40px;
		z-index: 2;
}
main.index button.home-button:hover {
		background-color: #49b7f2;
}
main.index button.home-button:hover a.button-text {
		color: white;
		left: 10px;
}
main.index button.home-button:hover div.right-arrow {
		opacity: 1;
		left: calc(100% - 40px);
}

body.darkmode .dark-mode__container div.dark-mode-button__container--class div.circle {
		left: calc(100% - 24.5px);
		background-color: white;
}

main.blog__main {
		padding-top: 80px;
}

main section.blog-info {
		font-size: 1.6rem;
		max-width: 700px;
}
main section.blog-info p {
		line-height: 2rem;
}

div.blog__image__container {
		max-width: 680px;
		max-height: 520px;
}

main section.blog__info--title {
		max-width: 700px;
}
main section.blog__info--title article.blog__info--body {
		font-size: 1.6rem;
}
main section.blog__info--title article.blog__info--body ul.benefits-list {
		font-size: 1.6rem;
}
main section.blog__info--title article.blog__info--body div.recommended-button__container a.recommended-button {
		font-size: 1.4rem;
		width: 200px;
		height: 35px;
}
main section.blog__info--title article.blog__info--body h4 {
		font-size: 2.3rem;
}
main section.blog__info--title article.blog__info--body P {
		margin-bottom: 40px;
		font-size: 1.6rem;
}

hr.section-separator {
		max-width: 680px;
		margin-bottom: 20px;
}

footer .contact {
		font-size: 1.7rem;
}
footer div.footer-icons__container {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
}
footer div.footer-icons__container a span.icon {
		width: 27px;
		height: 27px;
}

main.blog__main {
		height: 100%;
		width: 100%;
}

.product__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 90%;
		min-width: 320px;
		padding: 10px;
		margin: 0 auto;
		margin-bottom: 160px;
		margin-top: 60px;
}
.product__container .product {
		width: 250px;
		height: 250px;
		min-width: 100px;
		-webkit-box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		        box-shadow: 0px 8px 20px 0px rgba(153, 153, 153, 0.7);
		margin-top: 40px;
		margin-bottom: 10px;
		margin-left: 25px;
		margin-right: 25px;
		border-radius: 20px;
		-webkit-transition: all 500ms;
		transition: all 500ms;
}
.product__container .product:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		opacity: 0.7;
}

main.contact {
		height: calc(100vh - 80px);
}

a.blog-representative__image--container {
		margin-top: 40px;
}
a.blog-representative__image--container .blog-representative__image {
		height: 350px;
		max-width: 600px;
}

div.blogs-page__container div.paragraphs__container {
		max-width: 600px;
}
div.blogs-page__container div.paragraphs__container a.read-more {
		font-size: 1.6rem;
		margin-top: 15px;
		margin-left: calc(100% - 61px);
}

div.questions-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
		max-width: 600px;
		height: auto;
		margin-top: 40px;
		margin-bottom: 30px;
}
div.questions-container input {
		display: none;
}
div.questions-container label.question-box {
		margin-bottom: 25px;
		height: 80px;
		border-radius: 10px;
}
div.questions-container label.question-box p.question-visible {
		font-size: 1.8rem;
}
div.questions-container label.question-box p.question {
		font-size: 1.5rem;
		padding: 0 20px 0 15px;
}
div.questions-container input:checked + label.question-box {
		height: 200px;
}